@model RegisterUserViewModel

<form method="post" asp-action="Register" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>
 
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />

    <label asp-for="Email"></label>
    <input asp-for="Email" />

    <label asp-for="Password"></label>
    <input asp-for="Password" />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />

    <input type="submit" value="Register" />

</form>


@*c string Email { get; set;}

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; }

        [Required]
        [DataType(DataType.Password)]
        [Compare("Password",ErrorMessage ="This Field Doesn't Match The Password Field")]
        public string ConfirmPassword { get; set; }
*@