@model MovieWithoutPosterViewModel
    
<form asp-action="CreateNewMovie" asp-controller="UserMovies" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <input asp-for="Title" />
    <input type="text" asp-for="Description" />
    <input type="date" asp-for="Year" />
    <input asp-for="MovieNationality" />
    <input asp-for="Actors" />
    <select asp-for="GenreId" asp-items="@(new SelectList(TempData["genre"] as List<Genre>,"Id", "Name"))">

    </select>
    
    <input type="file" name="PosterFile" />
    <input type="submit" class="btn btn-success" />

</form>

@* public string Title { get; set; }

        [MaxLength(220)]
        public string Description { get; set; }

        public int Year { get; set; }

        public int MovieNationality { get; set; }


        public List<Actor> Actors{ get; set; }


        public byte[] Poster { get; set; }

        [ForeignKey("Genre")]
        public int GenreID { get; set; }

        public Genre Genre { get; set; }*@