@model List<Movie>
@{
    foreach (var item in Model)
    {
        <div>

            <img src="data:image/jpg;base64,@Convert.ToBase64String(item.Poster)" />
            <a asp-action="WatchMovie" asp-controller="UserMovies">@item.Title</a>
        </div>
    }
}