@model List<Movie>

@{
    foreach (var item in Model)
    {
        <div>
            <img src="@item.Poster" />
            <a asp-action="WatchMovie" asp-controller="UserMovies">@item.Title</a>
        </div>
    }
}