@model MovieWithoutPosterViewModel
    
<div class="container" style=" background-color: #0f0f1a; color: #fff; font-family: Arial, sans-serif;">
    <div style="display: flex; margin:auto; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
        <div class="card" style="width: 300px; background-color: #1e213a; padding: 20px; border-radius: 10px; border-top: 4px solid #19d4ca; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);">
            <form asp-action="CreateNewMovie" asp-controller="Movies" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 10px;">
                <div asp-validation-summary="All"></div>
                <div>

                <label asp-for="Title"></label><br />
                <input asp-for="Title" />
                </div>
                <div>

                    <label asp-for="Description"></label>
                <input type="text" asp-for="Description" />
                </div>

                <div>
                    <label asp-for="Year"></label><br />
                <input type="date" asp-for="Year" />
                </div>
                <div>
                    <label asp-for="MovieNationality"></label>
                <input asp-for="MovieNationality" />
                </div>
                <div>
                    <label asp-for="Actors"></label><br />
                <input asp-for="Actors" />
                </div>
                <div>
                    <label>Genre Name</label><br />
                <select asp-for="GenreId" asp-items="@(new SelectList(TempData["genre"] as List<Genre>,"Id", "Name"))">

                </select>
                </div>
                <label>Movie Poster</label>
                <input type="file" name="PosterFile" />
                <input type="submit" class="btn btn-success" />

            </form>
        </div>
    </div>
</div>